.c-nav-bar {
  @include flex();
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color-A700);
  color: #fff;
}

.c-nav-bar__item-priority {
  color: var(--primary-color-A700);
  background-color: #fff;
  margin: -10px 0 -5px 0;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
}

.c-nav-bar--secondary {
  @include flex();
  background-color: var(--primary-color-100);
  color: #fff;
  border-bottom: 2px solid var(--primary-color-A700);
  margin: 0 -20px 60px -20px;
}
