.c-card {
  background-color: #fff;
  border-bottom: 2px solid var(--primary-color-100);
  margin: 0 -20px 30px -20px;
}
.c-card__header {
  color: #000;
  background-color: var(--primary-color-100);
  padding: 10px;
}

.c-card__feed {
  margin: 10px;
}

.c-card__event {
  margin-bottom: 10px;
}
